body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('../images/sky.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  span {
   color: red; 
  }
  
  .form-container {
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 0 10px;
  }
  
  .form-container h2 {
    text-align: center;
  }
  
  .form-container label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-container button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  #signup-form{
    background-image: url('images/pexels.jpg');
    background-size: cover;
    background-position: center;
  }

  #signin-form{
    background-image: url('images/pexelss.jpg');
    background-size: cover;
    background-position: center;

  }

  #passwordStrength {
    height: 20px;
    width: 100px;
    border: 2px solid black;
    margin-right: 10px;
  }

  #strengthFill {
    height: 100%;
    width: 0;
  }

  